name: Node.js CI
on:
    push:
      branches:
        - main
    pull:
      branches:
        -main
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.12.2'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
     
        run: echo "Deploy Successful!!!"
          
